<div id="analyze" class="analyze" data-cc-scroll="Analyze">
	<div class="section section-peach">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-11 col-md-offset-1 col-xs-12">
	                <h5>Analyze</h5>
	                <h6 class="subtitle">Gain greater insight into your data</h6>
	            </div>
            </div>
            <div class="row">
	            <div class="col-xs-12 col-md-10 col-md-offset-1">
		            <div class="row">
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper hover">
                                    <img src="/assets/image/analyze/analyze-survival-plot.png"
                                     srcset="/assets/image/analyze/analyze-survival-plot@2x.png 2x, /assets/image/analyze/analyze-survival-plot@3x.png 3x">
                                    <a href="/survival-plots" class="button button-white">Learn More</a>
                                </div>
                                <figcaption><a href="/survival-plots">Survival<br>Plots</a></figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper hover">
                                    <img src="/assets/image/analyze/analyze-n-of-1.png"
                                         srcset="/assets/image/analyze/analyze-n-of-1@2x.png 2x, /assets/image/analyze/analyze-n-of-1@3x.png 3x">
                                    <a href="/n-of-1" class="button button-white">Learn More</a>
                                </div>
                                <figcaption><a href="/n-of-1">N of 1<br>Patient analysis</a></figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper hover">
                                    <img src="/assets/image/analyze/analyze-genome-browser.png"
                                         srcset="/assets/image/analyze/analyze-genome-browser@2x.png 2x, /assets/image/analyze/analyze-genome-browser@3x.png 3x">
                                    <a href="/link-to-the-genome-browser" class="button button-white">Learn More</a>
                                </div>
                                <figcaption><a href="/link-to-the-genome-browser">Link to the<br>Genome Browser</a></figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure class="last-child">
                                <div class="image-wrapper hover">
                                    <img src="/assets/image/analyze/analyze-bar-graph.png"
                                         srcset="/assets/image/analyze/analyze-bar-graph@2x.png 2x, /assets/image/analyze/analyze-bar-graph@3x.png 3x">
                                    <a href="/bar-graph-scatter-plot" class="button button-white">Learn More</a>
                                </div>
                                <figcaption><a href="/bar-graph-scatter-plot">Bar graph &amp;<br>Scatter plot</a></figcaption>
                            </figure>
		            	</div>
		            </div>	
	            </div>
	        </div>
	    </div>
	</div>
</div>	