<div class="analyze">
	<div class="section section-peach">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-11 col-md-offset-1 col-xs-12">
	                <h4>Analyze</h4>
	                <h5 class="subtitle">Gain greater insight into your data</h5>
	            </div>
            </div>
            <div class="row">
	            <div class="col-xs-12 col-md-10 col-md-offset-1">
		            <div class="row">
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <img src="/assets/image/survival-plots.png">
                                <figcaption>Survival<br>Plots</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <img src="/assets/image/patient-analysis.png">
                                <figcaption>N of 1<br>Patient analysis</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <img src="/assets/image/genome-browser.png">
                                <figcaption>Link to the<br>Genome Browser</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <img src="/assets/image/bar-graph.png">
                                <figcaption>Bar graph &amp;<br>Scatter plot</figcaption>
                            </figure>
		            	</div>
		            </div>	
	            </div>
	        </div>
	    </div>
	</div>
</div>	