<div class="contact-links">
	<div class="section">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-10 col-md-offset-1 col-xs-12 with-border-bottom with-border-top">
	                <ul class="contact-list">
	                	<li>
	                		<a href="https://twitter.com/ucscxena" target="_blank" class="icon icon-twitter">
	                			@UCSCXena
	                		</a>
	                	</li>
	                	<li>
	                		<a href="mailto:genome-cancer@soe.ucsc.edu" class="icon icon-mail">
	                			genome-cancer@soe.ucsc.edu
	                		</a>
	                	</li>
	                	<li>
	                		<a href="https://github.com/ucscXena" target="_blank" class="icon icon-github">
	                			ucscXena
	                		</a>
	                	</li>
	                </ul>
	            </div>
            </div>
        </div>
    </div>
</div>            