<div class="contact-links">
	<div class="section">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-10 col-md-offset-1 col-xs-12">
	            	<hr>
	                <ul class="contact-list">
	                	<li>
	                		<a href="">
	                			<div class="icon icon-twitter"></div>
	                			@UCSCXena
	                		</a>
	                	</li>
	                	<li>
	                		<a href="">
	                			<div class="icon icon-mail"></div>
	                			genome-cancer@soe.ucsc.edu
	                		</a>
	                	</li>
	                	<li>
	                		<a href="">
	                			<div class="icon icon-github"></div>
	                			ucscXena
	                		</a>
	                	</li>
	                </ul>
	                <hr>
	            </div>
            </div>
        </div>
    </div>
</div>            