<div class="discover">
    <div class="value-prop-description section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <h4>Discover</h4>
                    <h5 class="subtitle">Xena helps you discover relationships such as:</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <h5>What is the pattern between my two genes of interest?</h5>
                    <p>
                        Easily compare any -omic data within a gene or transcript, or across different genes. Our visualizations are designed to offer incredible flexibility, allowing you to see exactly the data you want to see.
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="button button-orange">Learn More</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <h5>Does my gene of interest affect survival? </h5>
                    <p>
                        Whether you're looking at DNA, RNA, methylation or protein, we can help you determine if a gene is affecting survivorship. Samples can be from a large public dataset, your own samples or both.
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="button button-orange">Learn More</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <h5>Where does my sample fall within the larger genomics space?</h5>
                    <p>
                        Add your own samples to our curated public datasets to compare across the larger genomics landscape. Because the data is combined on the web browser, we never see your samples, ensuring your data remains private.
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="button button-orange">Learn More</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <h5>How did drug treatment change gene expression in my cell line?</h5>
                    <p>
                        Group your samples by any data (such as before and after treatment) and then use these groups to compare expression or any other -omic data. Samples can come from cell lines, xenografts, organoids, or patients.
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="button button-orange">Learn More</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <h5>Does my clustering algorithm help predict survival?</h5>
                    <p>
                        Drive visualizations, comparisons and survival analysis with your own annotations, such as clustering results. Annotating public or private data is the same - just load your data into your own Xena Hub and you're ready to go.
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="button button-orange">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>