<footer class="footer">
    <div class="section section-green-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <p>Copyright &copy; 2015, The Regents of the University of California, Santa Cruz</p>
                    <p>All Rights Reserved</p>
                    <p>Apache-2.0 license</p>
                </div>
            </div>
        </div>
    </div>
</footer>