<div class="forum" data-cc-scroll="Forum">
	<div class="section">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-10 col-md-offset-1 col-xs-12 with-border-top">
	            	<div class="row">
	            		<div class="col-xs-12 col-sm-6">
	            			<h6>Visit the UCSC Xena forum to find more answers to your questions, and share your findings</h6>
	            			<button class="button button-green-dark" data-cc-click="Visit Forum">Visit Forum</button>
	            		</div>
	            		<div class="col-xs-12 col-sm-6">
                            <h6>Latest Threads</h6>
							<ul id="forum-group" class="forum-group"></ul>
	            		</div>
	            	</div>
	            </div>
            </div>
        </div>
    </div>
</div>            