<div id="graph" class="graph" data-cc-scroll="Graph">
	<div class="section section-yellow">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-11 col-md-offset-1 col-xs-12">
	                <h5>Graph</h5>
	                <h6 class="subtitle">Easily visualize and share the results of your data</h6>
	            </div>
            </div>
            <div class="row">
	            <div class="col-xs-12 col-md-10 col-md-offset-1">
		            <div class="row">
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper hover">
                                    <img src="/assets/image/graph/graph-visual-spreadsheet.png"
                                         srcset="/assets/image/graph/graph-visual-spreadsheet@2x.png 2x, /assets/image/graph/graph-visual-spreadsheet@3x.png 3x">
                                    <a href="/visual-spreadsheet" class="button button-white">Learn More</a>
                                </div>
                                <figcaption><a href="/visual-spreadsheet">Visual spreadsheet</a></figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper hover">
                                    <img src="/assets/image/graph/graph-positional-mutation.png"
                                         srcset="/assets/image/graph/graph-positional-mutation@2x.png 2x, /assets/image/graph/graph-positional-mutation@3x.png 3x">
                                    <a href="/positional-mutation-view" class="button button-white">Learn More</a>
                                </div>
                                <figcaption><a href="/positional-mutation-view" >Positional mutation view</a></figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper">
                                    <img src="/assets/image/graph/graph-exon.png"
                                         srcset="/assets/image/graph/graph-exon@2x.png 2x, /assets/image/graph/graph-exon@3x.png 3x">
                                </div>
                                <figcaption>Exon and transcript view</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure class="last-child">
                                <div class="image-wrapper">
                                    <img src="/assets/image/graph/graph-3d-proteins.png"
                                         srcset="/assets/image/graph/graph-3d-proteins@2x.png 2x, /assets/image/graph/graph-3d-proteins@3x.png 3x">
                                </div>
                                <figcaption>3D proteins in MuPIT</figcaption>
                            </figure>
		            	</div>
		            </div>	
	            </div>
	        </div>
	    </div>
	</div>
</div>	