<div class="graph">
	<div class="section section-yellow">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-11 col-md-offset-1 col-xs-12">
	                <h5>Graph</h5>
	                <h6 class="subtitle">Easily visualize and share the results of your data</h6>
	            </div>
            </div>
            <div class="row">
	            <div class="col-xs-12 col-md-10 col-md-offset-1">
		            <div class="row">
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper">
                                    <img src="/assets/image/visual-spreadsheet.png">
                                </div>
                                <figcaption>Visual spreadsheet</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper">
                                    <img src="/assets/image/positional-mutation-view.png">
                                </div>
                                <figcaption>Positional mutation view</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure>
                                <div class="image-wrapper">
                                    <img src="/assets/image/exon-and-transcript-view.png">
                                </div>
                                <figcaption>Exon and transcript view</figcaption>
                            </figure>
		            	</div>
		            	<div class="col-xs-12 col-md-3">
                            <figure class="last-child">
                                <div class="image-wrapper">
                                    <img src="/assets/image/3D-proteins-in-MuPIT.png">
                                </div>
                                <figcaption>3D proteins in MuPIT</figcaption>
                            </figure>
		            	</div>
		            </div>	
	            </div>
	        </div>
	    </div>
	</div>
</div>	