<div class="container jumbotron">
	<div class="row">
		<div class="col-xs-12">
			<h1>
				UCSC Xena
			</h1>
            <h3>
                See the bigger picture
            </h3>
		</div>
	</div>
</div>