<div class="container-fluid" data-cc-load="UCSC Xena loaded">
	<div class="row">
		<nav class="navbar">
		    <a href="/" class="navbar-brand"><img src="/assets/image/logo-ucsc.svg" data-cc-click="Home"></a>
		    <a href class="navbar-hamburger"><span></span></a>
		    <ul class="navbar-nav">
                <li><a href="#overview">Overview</a></li>
                <li><a href="#analyze">Analyze</a></li>
                <li><a href="#graph">Graph</a></li>
                <li><a href="#forum">Discuss</a></li>
                <li><a href="#subscribe">Subscribe</a></li>
		    </ul>
		</nav>
	</div>
</div>