<div id="overview" class="overview">
    <div class="value-prop-description">
        <div class="container-fluid">
            <div class="row">
                <p class="col-md-4 col-md-offset-1 hidden-sm hidden-xs">Securely analyze and visualize your private functional genomics data set in the context of public and shared genomic/phenotypic data sets.</p>
                <div class="col-md-7 col-xs-12 public-private-image-container"><img src="/assets/image/overview/xena-public-private.png"
                                                                                    srcset="/assets/image/overview/xena-public-private@2x.png 2x, /assets/image/overview/xena-public-private@3x.png 3x"></div>
            </div>
        </div>
    </div>
    <div class="section section-peach">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-xs-12">
                    <h5>Xena Browser</h5>
                    <p>UCSC Xena Functional Genomics Browser with analytics, visualization and Galaxy integration for analyzing and viewing the public data hubs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="public-private">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-xs-12 section section-public">
                    <h5 class="italic">Xena Public Data Hubs</h5>
                    <h6>Access over 200 normalized, public datasets</h6>
                    <p>A collection of UCSC-hosted public databases such as TCGA, ICGC, TARGET, GTEx, CCLE, and others. Databases are normalized so they can be combined, linked, filtered, explored and downloaded.</p>
                    <button class="button button-orange" data-cc-click="Xena Public Data Hubs">Learn More</button>
                </div>
                <div class="col-md-4 col-md-offset-2 col-xs-12 section section-private">
                    <div class="layer-above">
                        <h5 class="italic">Xena Private Data Hubs</h5>
                        <h6>Mix in and compare your own, private data</h6>
                        <p>Want to see how your data compares to the public databases? Deploy Xena Data Hub Server to host your data for visualization in Xena by your team, specific collaborators or the larger community.</p>
                        <button class="button button-orange" data-cc-click="Xena Private Data Hubs">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>