<div class="partner">
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <div class="partner-table">
                        <div class="partner-row partner-first">
                            <div class="partner-cell">
                                <a target="_blank" href="http://www.cancer.gov/">
                                    <img src="/assets/image/partner/logo-nci.png" class="logo-nci">
                                </a>
                            </div>
                            <div class="partner-cell">
                                <a target="_blank" href="http://itcr.nci.nih.gov/">
                                    <img src="/assets/image/partner/logo-nci-itcr.png" class="logo-nci-itcr">
                                </a>
                            </div>
                            <div class="partner-cell">
                                <a target="_blank" href="http://cancergenome.nih.gov/">
                                    <img src="/assets/image/partner/logo-nci-ga.png" class="logo-nci-ga">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="partner-table">
                        <div class="partner-row partner-second">
                            <div class="partner-cell">
                                <a target="_blank" href="https://treehouse.soe.ucsc.edu/">
                                    <img src="/assets/image/partner/logo-treehouse.png" class="logo-treehouse">
                                </a>
                            </div>
                            <div class="partner-cell">
                                <a target="_blank" href="https://dcc.icgc.org/pcawg#!%2Fmutations">
                                    <img src="/assets/image/partner/logo-pcawg.png" class="logo-pcawg">
                                </a>
                            </div>
                            <div class="partner-cell">
                                <a target="_blank" href="https://www.biojs.net/">
                                    <img src="/assets/image/partner/logo-biojs.png" class="logo-biojs">
                                </a>
                            </div>
                            <div class="partner-cell">
                                <a target="_blank" href="https://datascience.nih.gov/bd2k">
                                    <img src="/assets/image/partner/logo-nih-bd2k.png" class="logo-nih-bd2k">
                                </a>
                            </div>
                            <div class="partner-cell">
                                <a target="_blank" href="http://genomicsandhealth.org/">
                                    <img src="/assets/image/partner/logo-global-alliance.png" class="logo-global-alliance">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="partner-table">
                        <div class="partner-row partner-third">
                            <div class="partner-cell">
                                <a target="_blank" href="https://genomics.soe.ucsc.edu/">
                                    <img src="/assets/image/partner/logo-ucsc-gi.png" class="logo-ucsc-gi">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>