{{!< default}}

<div class="page-post">
    {{#post}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-4 section">
                    <h1>{{title}}</h1>
                </div>
                <div class="col-md-6">
                    {{#if image}}
                        <div class="featured-image">
                            <div class="col-xs-12 section">
                                <img src="{{image}}"/>
                            </div>
                        </div>
                    {{/if}}
                    <div class="row">
                        <div class="col-xs-12 section">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/post}}
    {{>contact-links}}
</div>