/**
 * UCSC Xena Web
 *
 * Global styles, shared across components, templates.
 */

// Links
a {
    color: @xena-green-dark;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: 0;
        text-decoration: none;
    }
}

// Inputs
input {
    &:focus {
        outline:0;
    }
}

/**
 * Medium +
 */
@media screen and (min-width: @screen-md-min) {
    // Hide public/private image overhang on right hand side and skewed background in home page public/private
    // section. (See also http://stackoverflow.com/a/18411774)
    html, body {
        overflow-x: hidden;
    }
}

/**
 * Large +
 */
@media screen and (min-width: @screen-lg-min) {
    // Override Bootstrap to snap at large screens (ie change behaviour from fluid to static)
    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        width: @screen-lg-min;
    }
}