/**
 * UCSC Xena Web
 *
 * Core less file, compiled to site.css and included in templates. Component-specific less to be
 * included in the core site.css are imported here.
 *
 * Normalize, grid and responsive utilities not required as UCSC Xena includes a customized Bootstrap download
 * containing this functionality. See /assets/css/vendor for Bootstrap files.
 */
/**
 * UCSC Xena Web
 *
 * Animation mixins, keyframe definitions.
 */
@keyframes animate-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes animate-out {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
  }
}
/**
 * UCSC Xena Web
 *
 * Button-related rules
 */
.button {
  background: #ff6b6b;
  border: none;
  color: #ffffff;
  font-family: "San Francisco", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  outline: none;
  min-width: 214px;
  padding: 13px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
}
/**
 * UCSC Xena Web
 *
 * Color variables.
 */
/**
 * UCSC Xena Web
 *
 * Implementation-specific rules.
 */
a:hover {
  text-decoration: none;
}
hr {
  border-top: 4px solid #d8d8d8;
}
/**
 * Mixins
 */
/**
 * Global styles
 */
.section {
  padding-bottom: 71px;
  padding-top: 71px;
}
.section h6.subtitle {
  font-style: italic;
  margin-bottom: 60px;
}
/**
 * Home page
 */
.page-home figure {
  margin-bottom: 85px;
  text-align: center;
}
.page-home figure:last-child {
  margin-bottom: 0;
}
.page-home figure img {
  margin: 0 auto;
  width: 100%;
}
.page-home figure figcaption {
  font-family: "San Francisco", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 25px 0 0;
}
.page-home .jumbotron {
  padding-top: 16px;
  padding-bottom: 30px;
  text-align: center;
}
.page-home .jumbotron h1 {
  color: #4ecdc4;
  font-family: "San Francisco", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  margin-bottom: 15px;
}
.page-home .jumbotron h3 {
  font-family: "San Francisco", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
}
.page-home .overview .value-prop-description {
  font-family: "San Francisco", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 18px;
}
.page-home .overview .value-prop-description img {
  display: block;
  width: 100%;
}
.page-home .overview .section {
  color: #ffffff;
}
.page-home .overview .section p {
  font-family: "San Francisco", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 27px 0 0;
}
.page-home .overview .section-peach {
  background: #ff6b6b;
  margin-top: -40%;
  padding-top: 48%;
  padding-bottom: 58px;
}
.page-home .overview .public-private .section h5 {
  font-style: italic;
}
.page-home .overview .public-private .section h6 {
  margin-top: 13px;
}
.page-home .overview .public-private .section .button {
  margin-top: 50px;
}
.page-home .overview .section-public {
  background-color: #4ecdc4;
}
.page-home .overview .section-private {
  background-color: #1a535c;
}
.page-home .discover .row {
  margin-bottom: 52px;
}
.page-home .discover .row:first-child,
.page-home .discover .row:last-child {
  margin-bottom: 0;
}
.page-home .analyze .section-peach {
  background: #ff6b6b;
  color: #ffffff;
}
.page-home .graph .section-yellow {
  background: #ffe66d;
  color: #1a535c;
}
.page-home .graph .section-yellow button {
  display: none;
  left: 20%;
  position: absolute;
  top: 30%;
}
.page-home .graph .section-yellow figure img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #ffed99;
}
.page-home .contact-links .contact-list {
  list-style: none;
  margin: 40px auto;
  padding: 0;
}
.page-home .contact-links .contact-list li {
  display: block;
  text-align: left;
}
.page-home .contact-links .contact-list li a {
  color: rgba(26, 83, 92, 0.57);
  font-family: "San Francisco", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: block;
  padding: 15px 0;
  vertical-align: middle;
}
.page-home .contact-links .contact-list li a .icon {
  background: url("/assets/image/social-sprite.png") no-repeat;
  display: inline-block;
  margin-right: 22px;
  vertical-align: middle;
}
.page-home .contact-links .contact-list li a .icon-twitter {
  background-position: -58px -3px;
  height: 21px;
  width: 25px;
}
.page-home .contact-links .contact-list li a .icon-mail {
  background-position: -31px -3px;
  height: 20px;
  width: 25px;
}
.page-home .contact-links .contact-list li a .icon-github {
  background-position: -3px -3px;
  height: 24px;
  width: 25px;
}
.page-home .partner .partner-cell {
  margin-bottom: 40px;
}
.page-home .partner .partner-cell img {
  display: block;
  margin: auto;
}
.page-home .partner .partner-first .logo-nci,
.page-home .partner .partner-first .logo-nci-ga,
.page-home .partner .partner-first .logo-nci-itcr {
  height: 29px;
}
.page-home .partner .partner-second .logo-treehouse {
  height: 70px;
}
.page-home .partner .partner-second .logo-pcawg {
  height: 70px;
}
.page-home .partner .partner-second .logo-biojs {
  height: 55px;
}
.page-home .partner .partner-second .logo-nih-bd2k {
  height: 60px;
}
.page-home .partner .partner-second .logo-global-alliance {
  height: 67px;
}
.page-home .partner .partner-third .partner-cell {
  margin-bottom: 0;
}
.page-home .partner .partner-third .logo-ucsc-gi {
  height: 50px;
}
/**
 * Footer
 */
.footer .section-green-light {
  background: #f7fff7;
}
.footer .section-green-light p {
  font-family: "San Francisco", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
/**
 * Media Queries
 */
/**
 * Small +
 */
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }
  .page-home .section {
    padding-bottom: 125px;
    padding-top: 125px;
  }
  .page-home figure {
    margin-bottom: 0;
  }
  .page-home figure img {
    max-width: 229px;
  }
  .page-home .jumbotron {
    padding-top: 37px ;
    padding-bottom: 65px;
    text-align: left;
  }
  .page-home .jumbotron h1 {
    font-size: 155px;
    line-height: 185px;
  }
  .page-home .jumbotron h3 {
    font-size: 42px;
    line-height: 18px;
    margin-top: -12px;
  }
  .page-home .overview .value-prop-description {
    margin-bottom: 76px;
  }
  .page-home .overview .value-prop-description p {
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .page-home .overview .value-prop-description .public-private-image-container {
    position: relative;
  }
  .page-home .overview .value-prop-description .public-private-image-container img {
    max-width: 100%;
    position: absolute;
    top: 18px;
  }
  .page-home .overview .section-peach {
    background: #ff6b6b;
    margin-top: 0;
    padding-bottom: 122px;
    padding-top: 107px;
  }
  .page-home .overview .public-private {
    background-color: #4ecdc4;
    position: relative;
  }
  .page-home .overview .public-private:after {
    background-color: #1a535c;
    content: "";
    display: block;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 61.11%;
    transform-origin: bottom left;
    -webkit-transform: skew(-21deg, 0deg);
    -moz-transform: skew(-21deg, 0deg);
    -ms-transform: skew(-21deg, 0deg);
    -o-transform: skew(-21deg, 0deg);
    transform: skew(-21deg, 0deg);
  }
  .page-home .overview .public-private .section {
    padding-bottom: 142px;
    padding-top: 116px;
  }
  .page-home .overview .public-private .section .button {
    margin-top: 50px;
  }
  .page-home .overview .public-private .section-private .layer-above {
    position: relative;
    z-index: 100;
  }
  .page-home .discover .button {
    float: right;
  }
  .page-home .partner .partner-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  .page-home .partner .partner-table + .partner-table {
    margin-top: 60px;
  }
  .page-home .partner .partner-table .partner-row {
    display: table-row;
  }
  .page-home .partner .partner-table .partner-row .partner-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .page-home .partner .partner-table .partner-row .partner-cell:first-child:last-child {
    text-align: center;
  }
  .page-home .partner .partner-table .partner-row .partner-cell:not(:first-child):not(:last-child) {
    text-align: center;
  }
  .page-home .partner .partner-table .partner-row .partner-cell:last-child {
    text-align: right;
  }
  .page-home .partner .partner-table .partner-row.partner-first {
    height: 30px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-treehouse {
    height: 60px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-pcawg {
    height: 60px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-biojs {
    height: 40px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-nih-bd2k {
    height: 48px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-global-alliance {
    height: 40px;
  }
  .page-home .partner .partner-table .partner-row.partner-third .logo-ucsc-gi {
    height: 60px;
  }
  .page-home .contact-links .contact-list {
    margin: 40px 0;
  }
  .page-home .contact-links .contact-list li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 33%;
  }
  .page-home .contact-links .contact-list li a .icon {
    margin-right: 5px;
  }
}
/**
 * Medium only
 */
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .page-home .overview .public-private:after {
    -webkit-transform: skew(-11deg, 0deg);
    -moz-transform: skew(-11deg, 0deg);
    -ms-transform: skew(-11deg, 0deg);
    -o-transform: skew(-11deg, 0deg);
    transform: skew(-11deg, 0deg);
  }
}
/**
 * Large +
 */
@media screen and (min-width: 1440px) {
  .container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
  }
  .page-home .contact-links .contact-list li a {
    font-size: 20px;
  }
  .page-home .contact-links .contact-list li a .icon {
    margin-right: 22px;
  }
}
/**
 * Extra large
 */
@media screen and (min-width: 1921px) {
  .page-home .overview .public-private:after {
    width: 56.5%;
  }
  .page-home .partner .partner-table .partner-row.partner-first {
    height: 38px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-treehouse {
    height: 72px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-pcawg {
    height: 72px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-biojs {
    height: 52px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-nih-bd2k {
    height: 60px;
  }
  .page-home .partner .partner-table .partner-row.partner-second .logo-global-alliance {
    height: 52px;
  }
  .page-home .partner .partner-table .partner-row.partner-third .logo-ucsc-gi {
    height: 72px;
  }
}
/**
 * UCSC Xena Web
 *
 * Font face rules for specifying custom fonts.
 */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("/assets/font/SF-UI-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "San Francisco";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/font/SF-UI-Text-SemiboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("/assets/font/SF-UI-Text-Bold.otf") format("opentype");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("/assets/font/SF-UI-Display-Black.otf") format("opentype");
}
/**
 * UCSC Xena Web
 *
 * Media query-related variables.
 *
 * Responsive breakpoints match Bootstrap's media queries for xs, sm and
 * md (see http://getbootstrap.com/css/#grid-media-queries):
 *
 * < 768px - extra small eg mobile (default)
 * > 768px - small eg tablet
 * > 992px - medium eg desktop, laptop
 *
 * Bootstrap's Media queries for large devices has been overridden to match design. Bootstrap's standard large device
 * breakdpoint is 1200px. UCSC Xena's large breakpoint is 1440px.
 *
 * > 1440px - large eg large desktop, laptop
 *
 * See customized Bootstrap CSS at assets/css/vendor/boostrap.css (includes link to update customization).
 *
 * Defining breakpoints outside of these values should be done with discretion, as these breakpoints are designed to
 * work in conjunction with Bootstrap's grid functionality.
 *
 * A comprehensive device size breakdown can be found at http://mydevice.io/devices/.
 */
/**
 * UCSC Xena Web
 *
 * Nav-specific rules and mixins
 */
/**
 * Variables
 */
/**
 * Mixins
 */
/**
 * Classes
 */
.navbar {
  height: 125px;
  margin: 0 15px;
}
.navbar .navbar-brand {
  display: inline-block;
  padding: 31px 0;
}
.navbar .navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .navbar-nav li a {
  font-size: 1.8rem;
}
/**
 * Classes - media queries
 */
/**
 * Extra small and small devices - show hamburger
 */
@media screen and (max-width: 991px) {
  .navbar .navbar-hamburger {
    float: right;
    padding: 61px 20px;
    z-index: 100;
  }
  .navbar .navbar-hamburger:hover span:after {
    top: 10px;
  }
  .navbar .navbar-hamburger:hover span:before {
    top: -10px;
  }
  .navbar .navbar-hamburger span {
    background: none no-repeat scroll 0 0 #1a535c;
    display: block;
    height: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 24px;
    position: relative;
  }
  .navbar .navbar-hamburger span:after,
  .navbar .navbar-hamburger span:before {
    background: none no-repeat scroll 0 0 #1a535c;
    display: block;
    height: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 24px;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .navbar .navbar-hamburger span:after {
    top: 8px;
  }
  .navbar .navbar-hamburger span:before {
    top: -8px;
  }
  .navbar .navbar-nav {
    background-color: #1a535c;
    height: 100%;
    left: 0;
    margin-top: 125px;
    padding-top: 125px;
    position: fixed;
    text-align: center;
    top: 0;
    opacity: 0;
    width: 100%;
  }
  .navbar .navbar-nav li a {
    color: #ffffff;
    display: block;
    padding: 20px 0;
  }
  .navbar-open .navbar .navbar-hamburger:hover span:after,
  .navbar-open .navbar .navbar-hamburger:hover span:before {
    top: 0;
  }
  .navbar-open .navbar .navbar-hamburger span {
    background-color: transparent;
  }
  .navbar-open .navbar .navbar-hamburger span:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar-open .navbar .navbar-hamburger span:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .navbar-open .navbar .navbar-nav {
    animation: animate-in 0.5s 1;
    opacity: 1;
    z-index: 999;
  }
  .navbar-closed .navbar .navbar-nav {
    animation: animate-out 0.5s 1;
    opacity: 0;
  }
}
/**
 * Medium and large devices (desktop up) - hide hamburger, show straight-up menu
 */
@media screen and (min-width: 992px) {
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar .navbar-nav {
    display: block;
    float: right;
  }
  .navbar .navbar-nav li {
    float: left;
    margin-left: 60px;
  }
  .navbar .navbar-nav li:first-child {
    margin-left: 0;
  }
  .navbar .navbar-nav li a {
    color: #1a535c;
    display: block;
    padding: 51px 0;
  }
}
/**
 * Medium and large devices (desktop up) - hide hamburger, show straight-up menu
 */
@media screen and (min-width: 1440px) {
  .navbar .navbar-nav li {
    margin-left: 75px;
  }
}
/**
 * UCSC Xena Web
 *
 * Typography-related rules.
 */
/**
 * Mixins
 */
/**
 * Classes
 */
body {
  color: #1a535c;
  font-family: "San Francisco", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
h5 {
  font-family: "San Francisco", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
}
h6 {
  font-family: "San Francisco", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
p {
  font-size: 18px;
  line-height: 1.6em;
}
.italic {
  font-style: italic;
}
