/**
 * UCSC Xena Web
 *
 * Core less file, compiled to site.css and included in templates. Component-specific less to be
 * included in the core site.css are imported here.
 *
 * Normalize, grid and responsive utilities not required as UCSC Xena includes a customized Bootstrap download
 * containing this functionality. See /assets/css/vendor for Bootstrap files.
 */
/**
 * UCSC Xena Web
 *
 * Animation mixins, keyframe definitions.
 */
@keyframes animate-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes animate-out {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
  }
}
/**
 * UCSC Xena Web
 *
 * Button-related rules
 */
.button {
  background: #ff6b6b;
  border: none;
  color: #ffffff;
  font-family: "San Francisco", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  outline: none;
  max-width: 174px;
  min-width: 214px;
  padding: 13px 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
}
.button:hover {
  color: #ffffff;
}
.button.button-green-dark {
  background: #1a535c;
}
.button.button-white {
  background-color: #ffffff;
  color: #ff6b6b;
}
/**
 * UCSC Xena Web
 *
 * Color variables.
 */
/**
 * UCSC Xena Web
 *
 * Font face rules for specifying custom fonts.
 */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("/assets/font/SF-UI-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "San Francisco";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/font/SF-UI-Text-SemiboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("/assets/font/SF-UI-Text-Bold.otf") format("opentype");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("/assets/font/SF-UI-Display-Black.otf") format("opentype");
}
/**
 * UCSC Xena Web
 *
 * Media query-related variables.
 *
 * Responsive breakpoints match Bootstrap's media queries for xs, sm and
 * md (see http://getbootstrap.com/css/#grid-media-queries):
 *
 * < 768px - extra small eg mobile (default)
 * > 768px - small eg tablet
 * > 992px - medium eg desktop, laptop
 *
 * Bootstrap's Media queries for large devices has been overridden to match design. Bootstrap's standard large device
 * breakdpoint is 1200px. UCSC Xena's large breakpoint is 1440px.
 *
 * > 1440px - large eg large desktop, laptop
 *
 * See customized Bootstrap CSS at assets/css/vendor/boostrap.css (includes link to update customization).
 *
 * Defining breakpoints outside of these values should be done with discretion, as these breakpoints are designed to
 * work in conjunction with Bootstrap's grid functionality.
 *
 * A comprehensive device size breakdown can be found at http://mydevice.io/devices/.
 */
/**
 * UCSC Xena Web
 *
 * Typography-related rules.
 */
/**
 * Mixins
 */
/**
 * Classes
 */
html {
  font-size: 50%;
}
body {
  color: #1a535c;
  font-family: "San Francisco", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "San Francisco", sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 600;
}
h5 {
  font-family: "San Francisco", sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 600;
}
h6 {
  font-family: "San Francisco", sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
}
p {
  font-size: 1.8rem;
  line-height: 1.6em;
}
.italic {
  font-style: italic;
}
/**
 * UCSC Xena Web
 *
 * Global styles, shared across components, templates.
 */
a {
  color: #1a535c;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
input:focus {
  outline: 0;
}
/**
 * Mixins
 */
/**
 * Local variables
 */
/**
 * Local variables
 */
/**
 * A section is a distinct area in a template, that encapsulates idea, topic, area of discussion etc.
 */
.section {
  padding-bottom: 71px;
  padding-top: 71px;
}
.section h6.subtitle {
  font-style: italic;
  margin-bottom: 60px;
}
.section .with-border-top {
  border-top: 4px solid #d8d8d8;
  padding-top: 71px;
}
.section .with-border-bottom {
  border-bottom: 4px solid #d8d8d8;
  padding-bottom: 71px;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }
}
/**
 * Large +
 */
@media screen and (min-width: 1440px) {
  .container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for analyze component.
 */
.analyze .section-peach {
  background: #ff6b6b;
  color: #ffffff;
}
.analyze .section-peach figure .image-wrapper {
  max-height: 270px;
  max-width: 270px;
}
.analyze .section-peach figure .image-wrapper:before {
  background-color: rgba(255, 237, 153, 0.89);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.analyze .section-peach figure figcaption a {
  color: #ffffff;
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for discover component.
 */
.discover .row {
  margin-bottom: 52px;
}
.discover .row:first-child,
.discover .row:last-child {
  margin-bottom: 0;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .discover .button {
    float: right;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for contact links component.
 */
.contact-links .section {
  padding-bottom: 0;
}
.contact-links .with-border-bottom {
  padding-bottom: 40px;
}
.contact-links .with-border-top {
  padding-top: 40px;
}
.contact-links .contact-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.contact-links .contact-list li {
  display: block;
  text-align: left;
}
.contact-links .contact-list li a {
  color: rgba(26, 83, 92, 0.57);
  font-family: "San Francisco", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  display: block;
  padding: 15px 0;
}
.contact-links .contact-list li .icon:before {
  background: url("/assets/image/site/sprite-social-aqua.png") no-repeat;
  background-position: 0 -3px;
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 22px;
  vertical-align: middle;
  width: 25px;
}
.contact-links .contact-list li .icon-twitter:before {
  background-position: -58px;
}
.contact-links .contact-list li .icon-mail:before {
  background-position: -31px;
}
.contact-links .contact-list li .icon-github:before {
  background-position: -3px;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .contact-links .contact-list {
    margin: 0;
  }
  .contact-links .contact-list li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 33%;
  }
  .contact-links .contact-list li a .icon {
    margin-right: 5px;
  }
}
/**
 * Large +
 */
@media screen and (min-width: 1440px) {
  .contact-links .contact-list li a {
    font-size: 2rem;
  }
  .contact-links .contact-list li a .icon {
    margin-right: 22px;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for footer component.
 */
.footer .section-green-light {
  background: #f7fff7;
}
.footer .section-green-light p {
  font-family: "San Francisco", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for forum component.
 */
.forum .section {
  padding-bottom: 0;
  padding-top: 0;
}
.forum h6 {
  font-weight: 300;
}
.forum h6 a {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 40px;
}
.forum .button-green-dark {
  display: block;
  margin: 60px 0;
}
.forum .forum-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.forum .forum-group li {
  margin: 40px 0;
}
.forum .forum-group li:last-child {
  margin-bottom: 0;
}
.forum .forum-group li a {
  display: block;
  font-size: 2rem;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .forum .button-green-dark {
    margin: 60px auto 0;
  }
  .forum .button-green-dark:focus {
    color: #ffffff;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for graph component.
 */
.graph .section-yellow {
  background: #ffe66d;
  color: #1a535c;
}
.graph .section-yellow figure .image-wrapper {
  max-height: 229px;
  max-width: 229px;
}
.graph .section-yellow figure .image-wrapper:before {
  background-color: rgba(255, 107, 107, 0.89);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.graph .section-yellow figure img {
  background: #ffed99;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for jumbotron component.
 */
.jumbotron {
  padding-top: 16px;
  padding-bottom: 30px;
  text-align: center;
}
.jumbotron h1 {
  color: #4ecdc4;
  font-family: "San Francisco", sans-serif;
  font-size: 10rem;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  margin-bottom: 15px;
}
.jumbotron h3 {
  font-family: "San Francisco", sans-serif;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 600;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .jumbotron {
    padding-top: 37px;
    padding-bottom: 65px;
    text-align: left;
  }
  .jumbotron h1 {
    font-size: 15.5rem;
    line-height: 185px;
  }
  .jumbotron h3 {
    font-size: 4.2rem;
    line-height: 18px;
    margin-top: -12px;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for mailing list component.
 */
.mailing-list h6 {
  font-weight: 300;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form {
  padding: 0;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group {
  margin-top: 40px;
  padding-bottom: 0;
  width: 100%;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group .form-control {
  border-radius: 4px;
  border: solid 4px #d8d8d8;
  color: #1a535c;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 10px;
  text-indent: 0;
  width: 100%;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group .form-control.mce_inline_error {
  border-color: #ff6b6b;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group ::-webkit-input-placeholder {
  color: rgba(26, 83, 92, 0.57);
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group ::-moz-placeholder {
  color: rgba(26, 83, 92, 0.57);
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group :-ms-input-placeholder {
  color: rgba(26, 83, 92, 0.57);
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group div.mce_inline_error {
  display: block;
  font-size: 1.8rem;
  padding: 5px 5px;
  position: absolute;
  text-align: left;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group div#mce-responses {
  margin: 0;
  text-align: left;
  top: 0;
  width: 100%;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group div#mce-responses #mce-success-response,
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group div#mce-responses div#mce-error-response {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  padding: 5px 5px;
  top: 0;
  width: 100%;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group div#mce-responses #mce-success-response {
  color: #1a535c;
  position: absolute;
  top: 52px;
}
.mailing-list #mc_embed_signup #mc-embedded-subscribe-form .form-group .button {
  background-color: #ff6b6b;
  font-size: 2rem;
  font-weight: 700;
  height: 48px;
  line-height: 1;
  margin: 0;
  padding: 13px 20px;
}
/**
 * UCSC Xena Web
 *
 * Nav-specific rules and mixins
 */
/**
 * Variables
 */
/**
 * Mixins
 */
/**
 * Classes
 */
.navbar {
  height: 125px;
  margin: 0 15px;
}
.navbar .navbar-brand {
  display: inline-block;
  padding: 31px 0;
}
.navbar .navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .navbar-nav li a {
  font-size: 1.8rem;
}
/**
 * Classes - media queries
 */
/**
 * Extra small and small devices - show hamburger
 */
@media screen and (max-width: 991px) {
  .navbar .navbar-hamburger {
    float: right;
    padding: 61px 20px;
    z-index: 100;
  }
  .navbar .navbar-hamburger:hover span:after {
    top: 10px;
  }
  .navbar .navbar-hamburger:hover span:before {
    top: -10px;
  }
  .navbar .navbar-hamburger span {
    background: none no-repeat scroll 0 0 #1a535c;
    display: block;
    height: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 24px;
    position: relative;
  }
  .navbar .navbar-hamburger span:after,
  .navbar .navbar-hamburger span:before {
    background: none no-repeat scroll 0 0 #1a535c;
    display: block;
    height: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 24px;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .navbar .navbar-hamburger span:after {
    top: 8px;
  }
  .navbar .navbar-hamburger span:before {
    top: -8px;
  }
  .navbar .navbar-nav {
    background-color: #1a535c;
    bottom: 0;
    left: 0;
    padding-top: 62.5px;
    position: fixed;
    text-align: center;
    top: 125px;
    opacity: 0;
    right: 0;
  }
  .navbar .navbar-nav li a {
    color: #ffffff;
    display: block;
    font-size: 2.5rem;
    padding: 20px 0;
  }
  .navbar-open {
    overflow: hidden;
  }
  .navbar-open .navbar .navbar-hamburger:hover span:after,
  .navbar-open .navbar .navbar-hamburger:hover span:before {
    top: 0;
  }
  .navbar-open .navbar .navbar-hamburger span {
    background-color: transparent;
  }
  .navbar-open .navbar .navbar-hamburger span:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar-open .navbar .navbar-hamburger span:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .navbar-open .navbar .navbar-nav {
    animation: animate-in 0.5s 1;
    opacity: 1;
    z-index: 999;
    overflow: scroll;
  }
  .navbar-closed .navbar .navbar-nav.animate-out {
    animation: animate-out 0.5s 1;
    opacity: 0;
  }
}
/**
 * Extra small and small devices, landscape only
 */
@media screen and (max-width: 991px) and (orientation: landscape) {
  .navbar .navbar-nav {
    padding-top: 10px;
  }
  .navbar .navbar-nav li a {
    padding: 5px 0;
  }
}
/**
 * Medium and large devices (desktop up) - hide hamburger, show straight-up menu
 */
@media screen and (min-width: 992px) {
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar .navbar-nav {
    display: block;
    float: right;
  }
  .navbar .navbar-nav li {
    float: left;
    margin-left: 60px;
  }
  .navbar .navbar-nav li:first-child {
    margin-left: 0;
  }
  .navbar .navbar-nav li a {
    color: #1a535c;
    display: block;
    padding: 51px 0;
  }
}
/**
 * Medium and large devices (desktop up) - hide hamburger, show straight-up menu
 */
@media screen and (min-width: 1440px) {
  .navbar .navbar-nav li {
    margin-left: 75px;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for overview component.
 */
.overview .value-prop-description {
  font-family: "San Francisco", sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 18px;
}
.overview .value-prop-description img {
  display: block;
  width: 100%;
}
.overview .section {
  color: #ffffff;
}
.overview .section p {
  font-family: "San Francisco", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin: 27px 0 0;
}
.overview .section-peach {
  background: #ff6b6b;
  margin-top: -40%;
  padding-top: 48%;
  padding-bottom: 58px;
}
.overview .public-private .section h5 {
  font-style: italic;
}
.overview .public-private .section h6 {
  margin-top: 13px;
}
.overview .public-private .section p {
  font-weight: 300;
}
.overview .public-private .section .button {
  display: inline-block;
  margin-top: 50px;
}
.overview .section-public {
  background-color: #4ecdc4;
}
.overview .section-private {
  background-color: #1a535c;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .overview .value-prop-description {
    margin-bottom: 76px;
  }
  .overview .value-prop-description p {
    font-size: 2.6rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  .overview .value-prop-description .public-private-image-container {
    position: relative;
  }
  .overview .value-prop-description .public-private-image-container img {
    max-width: 90%;
    position: absolute;
    right: -14px;
    top: 18px;
  }
  .overview .section-peach {
    background: #ff6b6b;
    margin-top: 0;
    padding-bottom: 122px;
    padding-top: 107px;
  }
  .overview .public-private {
    background-color: #4ecdc4;
    position: relative;
  }
  .overview .public-private:after {
    background-color: #1a535c;
    content: "";
    display: block;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 61.11%;
    transform-origin: bottom left;
    -webkit-transform: skew(-21deg, 0deg);
    -moz-transform: skew(-21deg, 0deg);
    -ms-transform: skew(-21deg, 0deg);
    -o-transform: skew(-21deg, 0deg);
    transform: skew(-21deg, 0deg);
  }
  .overview .public-private .section {
    padding-bottom: 142px;
    padding-top: 116px;
  }
  .overview .public-private .section .button {
    margin-top: 50px;
  }
  .overview .public-private .section-private .layer-above {
    position: relative;
    z-index: 100;
  }
}
/**
 * Medium only
 */
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .overview .public-private:after {
    -webkit-transform: skew(-11deg, 0deg);
    -moz-transform: skew(-11deg, 0deg);
    -ms-transform: skew(-11deg, 0deg);
    -o-transform: skew(-11deg, 0deg);
    transform: skew(-11deg, 0deg);
  }
}
/**
 * Extra large
 */
@media screen and (min-width: 1921px) {
  .overview .public-private:after {
    width: 56.5%;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for partner component.
 */
.partner .partner-cell {
  margin-bottom: 40px;
}
.partner .partner-cell img {
  display: block;
  margin: auto;
}
.partner .partner-first .logo-nci,
.partner .partner-first .logo-nci-ga,
.partner .partner-first .logo-nci-itcr {
  height: 29px;
}
.partner .partner-second .logo-treehouse {
  height: 70px;
}
.partner .partner-second .logo-pcawg {
  height: 70px;
}
.partner .partner-second .logo-biojs {
  height: 55px;
}
.partner .partner-second .logo-nih-bd2k {
  height: 60px;
}
.partner .partner-second .logo-global-alliance {
  height: 67px;
}
.partner .partner-third .partner-cell {
  margin-bottom: 0;
}
.partner .partner-third .logo-ucsc-gi {
  height: 50px;
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .partner .partner-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  .partner .partner-table + .partner-table {
    margin-top: 60px;
  }
  .partner .partner-table .partner-row {
    display: table-row;
  }
  .partner .partner-table .partner-row .partner-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .partner .partner-table .partner-row .partner-cell:first-child:last-child {
    text-align: center;
  }
  .partner .partner-table .partner-row .partner-cell:not(:first-child):not(:last-child) {
    text-align: center;
  }
  .partner .partner-table .partner-row .partner-cell:last-child {
    text-align: right;
  }
  .partner .partner-table .partner-row.partner-first {
    height: 30px;
  }
  .partner .partner-table .partner-row.partner-second .logo-treehouse {
    height: 60px;
  }
  .partner .partner-table .partner-row.partner-second .logo-pcawg {
    height: 60px;
  }
  .partner .partner-table .partner-row.partner-second .logo-biojs {
    height: 40px;
  }
  .partner .partner-table .partner-row.partner-second .logo-nih-bd2k {
    height: 48px;
  }
  .partner .partner-table .partner-row.partner-second .logo-global-alliance {
    height: 40px;
  }
  .partner .partner-table .partner-row.partner-third .logo-ucsc-gi {
    height: 60px;
  }
}
/**
 * Extra large
 */
@media screen and (min-width: 1921px) {
  .partner .partner-table .partner-row.partner-first {
    height: 38px;
  }
  .partner .partner-table .partner-row.partner-second .logo-treehouse {
    height: 72px;
  }
  .partner .partner-table .partner-row.partner-second .logo-pcawg {
    height: 72px;
  }
  .partner .partner-table .partner-row.partner-second .logo-biojs {
    height: 52px;
  }
  .partner .partner-table .partner-row.partner-second .logo-nih-bd2k {
    height: 60px;
  }
  .partner .partner-table .partner-row.partner-second .logo-global-alliance {
    height: 52px;
  }
  .partner .partner-table .partner-row.partner-third .logo-ucsc-gi {
    height: 72px;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for home template.
 */
.page-home figure {
  margin-bottom: 85px;
  text-align: center;
}
.page-home figure.last-child {
  margin-bottom: 0;
}
.page-home figure img {
  margin: 0 auto;
  width: 90%;
}
.page-home figure .button {
  display: none;
}
.page-home figure figcaption {
  font-family: "San Francisco", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin: 25px 0 0;
  text-align: center;
}
/**
 * Small +
 */
@media screen and (min-width: 768px) {
  .page-home figure img {
    width: 60%;
  }
}
/**
 * Medium +
 */
@media screen and (min-width: 992px) {
  .page-home .section {
    padding-bottom: 125px;
    padding-top: 125px;
  }
  .page-home .with-border-top {
    padding-top: 125px;
  }
  .page-home figure {
    margin-bottom: 0;
  }
  .page-home figure .hover:before {
    content: "";
    height: 100%;
    position: absolute;
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .page-home figure .hover .button {
    display: block;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .page-home figure .hover:hover:before {
    opacity: 1;
  }
  .page-home figure .hover:hover .button {
    opacity: 1;
  }
  .page-home figure .image-wrapper {
    margin: 0 auto;
    position: relative;
  }
  .page-home figure .image-wrapper .button-white {
    min-width: 158px;
  }
  .page-home figure img {
    width: 100%;
  }
}
/**
 * UCSC Xena.
 *
 * Responsive style definitions for post template.
 */
.page-post .section {
  padding: 10px 15px;
}
.page-post .section.with-border-top {
  border-top: 2px solid rgba(26, 83, 92, 0.1);
  padding-top: 60px;
}
.page-post .section h1 {
  color: #4ecdc4;
}
.page-post .section h2,
.page-post .section h3,
.page-post .section h4,
.page-post .section h5,
.page-post .section h6 {
  color: #ff6b6b;
}
.page-post .section p {
  line-height: 2.1em;
}
.page-post .section a {
  color: #4ecdc4;
}
.page-post .section img {
  max-width: 100%;
}
.page-post .featured-image {
  margin-top: 25px;
  width: 100%;
}
.page-post .contact-links .section {
  padding: 10px 0px;
}
.page-post .contact-links .section .contact-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.page-post .contact-links .section .contact-list li {
  display: block;
  text-align: left;
}
.page-post .contact-links .section .contact-list li a {
  color: rgba(26, 83, 92, 0.57);
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 15px 0;
}
.page-post .contact-links .section .contact-list li .icon:before {
  background: url("/assets/image/site/sprite-social-aqua.png") no-repeat;
}
.page-post .contact-links .section .contact-list li .icon-twitter:before {
  background-position: -58px;
}
.page-post .contact-links .section .contact-list li .icon-mail:before {
  background-position: -31px;
}
.page-post .contact-links .section .contact-list li .icon-github:before {
  background-position: -3px;
}
.page-post .contact-links .section .with-border-bottom {
  border-bottom: 0px;
  padding-bottom: 40px;
}
.page-post .contact-links .section .with-border-top {
  border-top: 4px solid #f7fff7;
  padding-top: 40px;
}
