/**
 * UCSC Xena Web
 *
 * Implementation-specific rules.
 */

// Links
a {
    &:hover {
        text-decoration: none;
    }
}

/**
 * Mixins
 */

.font(@font-size,@font-weight,@font-style) {

    font-family: "San Francisco", sans-serif;
    font-size: @font-size;
    font-style: @font-style;
    font-weight: @font-weight;
}

.rounded(@radius:4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

/**
 * Home page
 */
.page-home {
    .jumbotron {
        text-align: center;
        @media(min-width: @screen-md-min) {
            text-align: left;
        }
        h1 {
            color: @xena-aqua;
            .font(100px,800,normal);
            line-height: 80px;
            margin: 40px 0 0 0;
            @media(min-width: @screen-md-min) {
                font-size: 155px;
                line-height: 185px;
            }
        }
        h3 {
            color: @xena-green-dark;
            .font(24px,600,italic);
            line-height: 35px;
            margin: 0;
            padding: 10px 10px;
            @media(min-width: @screen-md-min) {
                font-size: 42px;
                line-height: 18px;
            }
        }
    }
    .button {
        .font(20px,700,normal);
        .rounded(4px);
        background: @xena-peach;
        border: none;
        color: @xena-white;
        outline: none;
        padding: 5px 20px;
        -webkit-appearance: none;
    }
    .content-block {
        overflow: hidden;
        position: relative;
        .image-wrap {
            height: auto;
            padding: 0 15px;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
    .data-hub {
        h6 {
            .font(24px,600,italic);
            margin: 0;
        }
        p {
            .font(16px,700,normal);
            color: @xena-white;
            line-height: 28px;
        }
        span {
            .font(18px,700,normal);
            color: @xena-white;
            line-height: 18px;
        }
    }
    .section {
        min-height: 150px;
        padding: 50px 0;
        position: relative;
    }
    .section-white {
        p {
            .font(28px,400,normal);
            color: @xena-green-dark;
            margin: 0 0 30px;
        }
        .info {
            display: none;
        }
    }
    .section-red {
        background: @xena-peach;
        padding: 100px 0 50px;
        p {
            .font(20px,400,normal);
            color: @xena-white;
            margin: 0 0 30px;
        }
    }
    .section-green-dark {
        background: @xena-green-dark;
        height: 50%;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
    .section-aqua {
        background: @xena-aqua;
        .content-left {
            margin-bottom: 100px;
        }
        .content-right {
            float: right;
            z-index: 2;
        }
    }
}

/**
 * Media Queries
 */

/**
 * Small +
 */
@media screen and (min-width: @screen-sm-min) {
    .page-home {
        .section-white {
            min-height: 380px;
        }
    }
}

/**
 * Medium +
 */
@media screen and (min-width: @screen-md-min) {
    .page-home {
        .content-block {
            .image-wrap {
                right: -40px;
                margin: 60px 0 0;
                width: 59.4%;
            }
        }
        .data-hub {
            h6 {
                .font(34px,600,italic);
                margin: 50px 0 10px;
            }
            span {
                .font(28px,700,normal);
            }
            p {
                .font(20px,700,normal);
            }
        }
        .section-white {
            .info {
                display: block;
            }
        }
        .section-red {
            padding: 50px 0;
        }
        .section-green-dark {
            background: @xena-green-dark;
            height: 100%;
            position: absolute;
            right: 0;
            width: 43%;
            z-index: 1;
            &:before {
                background: @xena-green-dark;
                position: absolute;
                content: "";
                left: -230px;
                top: 0;
                width: 500px;
                height: 200%;
                .transform(rotate(20deg));
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: @screen-lg-min) {
    .content-block {
        .image-wrap {
            right: -40px;
            margin: 60px 0 0;
            //width: 800px;
            width: 59.4%;
        }
    }
    .section-green-dark {
        &:before {
            left: -195px;
        }
    }
}