/**
 * UCSC Xena Web
 *
 * Typography-related rules.
 */

/**
 * Mixins
 */


// Specify font size, weight and style, with style defaulting to "normal"
.font(@font-size, @font-weight, @font-style:normal) {

    font-family: "San Francisco", sans-serif;
    font-size: @font-size;
    font-style: @font-style;
    font-weight: @font-weight;
}

/**
 * Classes
 */

body {
    color: @xena-green-dark;
    font-family: "San Francisco", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

h4 {
    .font(34px, 600);
}

h5 {
    .font(28px, 600);
}

h6 {
    .font(28px, 600);
}

p {
    font-size: 18px;
    line-height: 1.6em;
}

.italic {
    font-style: italic;
}

//h6 {
//	color: @xena-white;
//    .font(34px, 700);
//    margin: 30px 0 20px;
//}